# Environment Configuration
NODE_ENV="test" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*"

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

MIN_LOG_LEVEL=debug

JWT_SECRET="secret"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/neo_starter_dev?schema=public"
